// Specific CSS for your home-page
body {
  background: rgba(40, 40, 40, 1.0);
  color: rgba(230, 230, 230, 1.0);
}

.title {
  width: 100vw;
  border-top: 1px solid rgba(100, 100, 100, 0.4);
  border-bottom: 1px solid rgba(100, 100, 100, 0.4);
  padding: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.inner-border {
  background: rgba(60, 60, 60, 1.0);
}

.style-border {
  border: 1px solid rgba(100, 100, 100, 0.4);
}
