<div class="pack-cards">
  <% @pack.each do |card| %>
    <div class="pack-card">
      <p><%= card.card_rarity %></p>
      <img src="<%= card.card.picture %>" alt="Card Image" class="<%= card.card_rarity %>">
    </div>
  <% end %>
</div>
