.carousel-item {
  text-align: center;
  img {
    width: 160px;
    height: 280px;
    margin-right: 8px;
    margin-left: 8px;
  }
}

.carousel-control-prev {
  width: 60px;
}

.carousel-control-next {
  width: 60px;
}
