.booster-sets {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  .booster-set {
    margin: 16px;
    img {
      width: 160px;
      height: 280px;
    }
  }
}

.card {
  width: 320px;
}

.booster-cards {
  display: flex;
  flex-wrap: wrap;
  .booster-card {
    img {
      width: 160px;
      height: 216px;
    }
  }
}

.Common {
  border: 8px solid beige;
}

.Short.Print {
  border: 8px solid beige;
}

.Super.Short.Print {
  border: 8px solid beige;
}

.Rare {
  border: 8px solid gray;
}

.Super.Rare {
  border: 8px solid silver;
}

.Ultra.Rare {
  border: 8px solid gold;
}

.Secret.Rare {
  border: 8px solid cyan;
}
