.booster-sets {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  padding: 16px;
  text-align: center;
  justify-content: center;
  .booster-set {
    margin: 16px;
    img {
      width: 160px;
      height: 280px;
    }
  }
}

.card-frame {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  border-radius: 4px;
  width: 832px;
  img {
    margin: 32px 8px 32px 32px;
  }
  .card-data {
    background: rgba(80, 80, 80, 1.0);
    margin: 32px;
    padding: 16px;
    border-radius: 4px;
    width: 400px;
  }
  .description {
    border-top: 1px solid rgba(100, 100, 100, 0.4);
    margin-top: 8px;
    padding-top: 8px;
  }
}

.card {
  width: 320px;
  height: 480px;
}

@media all and (max-width: 1000px) {
  .card {
    width: 160px;
    height: 216px;
  }
}

.booster-cards {
  margin-top: 40px;
  margin-bottom: 40px;
  .booster-card {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 8px;
    .card-number {
      padding: 8px;
    }
    .card-name {
      padding: 8px;
    }
    .card-rarity {
      padding: 8px;
    }
    img {
      width: 160px;
      height: 216px;
    }
  }
}

.pack-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
  margin-top: 40px;
  border-radius: 4px;
  justify-content: center;
  .pack-card {
    margin: 24px;
    img {
      width: 160px;
      height: 216px;
      border-radius: 4px;
    }
  }
}

.Common {
  border: 8px solid rgba(100, 80, 50, 1.0);
}

.Short.Print {
  border: 8px solid rgba(100, 80, 50, 1.0);
}

.Super.Short.Print {
  border: 8px solid rgba(100, 80, 50, 1.0);
}

.Rare {
  border: 8px solid rgba(150, 150, 160, 1.0);
}

.Super.Rare {
  border: 8px solid rgba(220, 220, 255, 1.0);
}

.Ultra.Rare {
  border: 8px solid rgba(255, 210, 0, 0.8);
}

.Secret.Rare {
  border: 8px solid rgba(0, 150, 255, 0.8);
}
