.navbar {
  justify-content: space-between;
  background: rgba(10, 30, 50, 0.4);
  color: rgba(230, 230, 230, 1.0);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
